@import 'bower_components/bskyb-typography/src/scss/typography';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}

.product {
  width: 33%;
  display: inline-block;
  min-width: 300px;
  padding: 20px;
}

h1 {
  text-align: center;
}
